html,
body {
    height: 100%;
    width: 100%;
    margin: 0
}

#mapContainer {
    height: 100%;
    width: 100%;
    background: lightgray;
    margin: 0 auto;
}

#sidebar {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 15px;
}

#graph {
    width: 400;
    position: absolute;
    top: 80;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 15px;
}

.info-box_title {
    top: 25px;
    left: 25px;
    z-index: 10;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #525252;
    margin-bottom: 15px
}

.info-box-panel {
    top: 25px;
    left: 25px;
    z-index: 10;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 7px #e2e2e2;
}

.info-box-graph {
    width: 380px;
    height: 260px;
    z-index: 10;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 7px #525252;
}

h3 {
    margin: 0 0 15px 0;
    font-size: 1.4rem;
}

h4 {
    margin: 0 0 10px 0;
    font-size: 1rem;
}

#legnedbox {
    top: 1000px;
    left: 800px;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #91908c;
    width: 250px;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #29928e;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

​ input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #29928e;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.2);
}