html,
body {
    height: 100%;
    width: 100%;
    margin: 0
}

#mapContainer {
    height: 100%;
    width: 100%;
    background: lightgray;
    margin: 0 auto;
}

#sidebar {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 15px;
}

#graph {
    width: 1000px;
    position: absolute;
    top: 80;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 15px;
}

.info-box_title {
    top: 25px;
    left: 25px;
    z-index: 10;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #525252;
    margin-bottom: 15px
}

.info-box-panel {
    top: 25px;
    left: 25px;
    z-index: 10;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 7px #525252;
}

.info-box-graph {
    width: 600px;
    height: 160px;
    z-index: 10;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 7px #525252;
}

h3 {
    margin: 0 0 15px 0;
    font-size: 1.4rem;
}

h4 {
    margin: 0 0 10px 0;
    font-size: 1rem;
}